{% extends 'base.html.twig' %}

{% block title %}BLOG!{% endblock %}

{% block body %}

	<p> Le DS R109 n'est pas compliqué, mais une heure ça va un peu vite. Nos gentils professeurs auraient pu nous accorder 30 Minutes de plus...</P>

{% endblock %}
